
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.dark2{
    color: #474747;
    font-size: 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}
.text-primary{
    color: #FD6E0A;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;

}

nav li a{
    text-decoration: none;
    font-size: 20px;

}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
/* background
 */
 .background-image{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
 }
 .secondary-bg{
    background-color: #FFF8F3;
 }
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
    font-weight: regular;
}
.banner-profile{
    width: 580px;
}
.banner-content{
    width: 580px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
     margin-top: 130px;
     margin-bottom: 130px;
}



/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    /* margin-top: 130px; */
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818
}
.section-description{
    font-size: 18px;
    color: #757575;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: 600;
}

.text-center{
    text-align: center;
}

/* skills */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #000000;
    border-radius: 5px;
}

/* resume */
.resume-container{
    display: flex;
    gap: 34px;
}
.experience-description{
    color: #757575;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}

/* footer styles */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
    text-align: center;
    margin-top: 130px;

}
 .work{
   padding: 30px;
   text-align: start;
 }   
 .awsome{
    text-align:start;
    margin-left: 27px;
 }
 .social-icons{
    padding: 30px;
    margin-top: 10px;
    /* gap: 20px; */
    text-align: start;
    display: flex;
    justify-content:flex-start;
    gap: 24px;
 }

.input1{
    width:461px;
    height: 64px;
    padding: 18px 30px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-top: 24px;
}

.input3{
    width: 461px;
    height: 180px;
    padding: 18px 30px;
    color: #757575;
    border: none;
    border-radius: 5px;
    margin-top: 24px;

}

.input-btn{
    margin-top: 24px;
    width: 150px;
    height: 64px;
    padding: 18px 39px;

}

